body, html, #root {
  margin: 4;
  padding: 4;
}

.App {
  height: 100%;
  display: block;
}

.portfolio-section {
    height: 100%;
    gap: 1rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

h1{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

h2{
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.skills-image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 100%;
    gap: 1rem; 
    max-width: calc(100% - 1rem);
}

.skills-image-container img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}

/* Adjust layout for larger screens */
@media (min-width: 768px) {
    .image-container {
        flex: 1 1 calc(33.333% - 1rem); /* Three images per row */
    }
}

@media (min-width: 1024px) {
    .image-container {
        flex: 1 1 calc(16.666% - 1rem); /* Six images per row */
    }
}

#profile-picture {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*START - CONTACT FORM CSS */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  label {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
  }
  
  button {
    padding: 0.5em 2em;
    font-size: 1em;
    cursor: pointer;
  }
  /*START - CONTACT FORM CSS */