
/*START - CONTACT FORM CSS */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  label {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
  }
  
  button {
    padding: 0.5em 2em;
    font-size: 1em;
    cursor: pointer;
  }
  /*START - CONTACT FORM CSS */