body, html, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%; 
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 4rem;
    justify-content: center;
}

.image-container {
    display: flex;
    flex: 1 1 100%; 
    max-width: calc(100% - 1rem);
}

.image-container img {
    width: 15%;
    height: auto;
    object-fit: cover;
}

.image-container-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between images */
}

/* Adjust layout for larger screens */
@media (min-width: 768px) {
    .image-container {
        flex: 1 1 calc(33.333% - 1rem); /* Three images per row */
    }
}

@media (min-width: 1024px) {
    .image-container {
        flex: 1 1 calc(16.666% - 1rem); /* Six images per row */
    }
}

/*START - CONTACT FORM CSS */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  label {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
  }
  
  button {
    padding: 0.5em 2em;
    font-size: 1em;
    cursor: pointer;
  }
  /*START - CONTACT FORM CSS */